body {
    --text-header-color-dark: #343a40;
    --text-header-color-coloured: #ff6b86;
    --text-color: #b3b9c5;
    --text-color-dark: #222629;
    --text-darkmode-color: rgba(256, 256, 256, 87%);
    --text-darkmode-header-color: #ff9f87;
    --darkmode-background-color: rgba(44, 47, 51);
}

h1,
h2,
h4,
h5,
h6 {
    color: var(--text-header-color-dark);
}

h3 {
    /* padding-bottom: 5px; */
}

h3 a {
    /* color: var(--text-color-dark); */
    color: #6c9058;
}

.dark {
    color: var(--text-darkmode-color);
    background-color: var(--darkmode-background-color);
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
    color: var(--text-darkmode-header-color);
}

.dark h3 {
    padding-bottom: 5px;
}

.dark a {
    /* color: var(--text-darkmode-header-color); */
    color: #cebb9e;
}

.dark blockquote {
    color: var(--text-darkmode-header-color);
    border-left-color: var(--text-darkmode-header-color);
}